body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  margin: 0;
  padding: 24px;
  color: #333;
}

body.core-narrow {
  padding: 8px;
}

paper-tabs, core-toolbar {
  background-color: #4bb1fa;
  color: #fff;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}

core-toolbar paper-tabs {
  box-shadow: none;
}

paper-tabs[noink][nobar] paper-tab.core-selected {
  color: #ffff8d;
}

paper-tabs.transparent-teal {
  background-color: transparent;
  color: #4bb1fa;
  box-shadow: none;
}

paper-tabs.transparent-teal::shadow #selectionBar {
  background-color: #4bb1fa;
}

paper-tabs.transparent-teal paper-tab::shadow #ink {
  color: #4bb1fa;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}